@import "tailwindcss";

:root {
  --background: #eef6ff;
  --foreground: #171717;
}


@font-face {
	font-family: "Montserrat-Bold";
	src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat-Regular", "Montserrat-Bold", sans-serif;
}



html {
	scroll-behavior: smooth;
  }
  
/* styles/globals.css */
@keyframes scrollX {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-50%);
	}
  }
  
  .animate-scroll-x {
	animation: scrollX 10s linear infinite;
	display: flex;
	flex-wrap: nowrap;
	will-change: transform;
  }


  .perspective {
	perspective: 1000px;
  }
  .transform-style {
	transform-style: preserve-3d;
  }
  .backface-hidden {
	backface-visibility: hidden;
  }
  .rotate-y-180 {
	transform: rotateY(180deg);
  }
  